<p><a href="mailto:contacto@tokaidosushi.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>&nbsp;contacto@tokaidosushi.com</a></p>
<p><a href="tel:+562232272434"><span class="fa fa-phone"></span>&nbsp;+562232272434</a></p>
<p><a href="tel:+562225061266"><span class="fa fa-phone"></span>&nbsp;+562225061266</a></p>
<p><a href="http://facebook.com/tokaidosushis"><span class="fa fa-facebook"></span>&nbsp;tokaidosuhis</a></p>
<p><a href="http://instagram.com/tokaidosushi"><span class="fa fa-instagram"></span>&nbsp;tokaidosuhis</a></p>



